@{
    ViewData["Title"] = "Movie Finder - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Finder</h1>
    <p>Search for movies using the TMDB API and save your favorites!</p>
    <a class="btn btn-primary" href="/Movie/Search">Start Searching 🎬</a>
</div>

